.frame {
	border: solid black 1px;
}

.selected {
	background-color: green;
}

.item {
	padding: 5px;
	margin: 2px;
	border: dotted red 1px;
	min-height: 40px;
	overflow: hidden;
	flex-grow: 100;
}
.resizable {
	position: relative;
}
.row-resize {
	cursor: row-resize;
	height: 2px;
	background-color: green;
}
.col-resize {
	cursor: col-resize;
	width: 2px;
	background-color: green;
}

.horizontal-container {
	display: flex;
	flex-flow: row;
}
.vertical-container {
	display: flex;
	flex-flow: column;
}